<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nanotech.DiscoverBangladesh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dbangladesh_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dbangladesh_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nanotech.DiscoverBangladesh.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nanotech.DiscoverBangladesh.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nanotech.DiscoverBangladesh.Splash_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nanotech.DiscoverBangladesh.MapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nanotech.DiscoverBangladesh.Division.DhakaDivisionActivity" />
        <activity android:name="com.nanotech.DiscoverBangladesh.Division.RangpurDivisionActivity" />
        <activity android:name="com.nanotech.DiscoverBangladesh.Division.RajshahiDivisionActivity" />
        <activity android:name="com.nanotech.DiscoverBangladesh.Division.SylhetDivisionActivity" />
        <activity android:name="com.nanotech.DiscoverBangladesh.Division.KhulnaDivisionActivity" />
        <activity android:name="com.nanotech.DiscoverBangladesh.Division.BarishalDivisionActivity" />
        <activity android:name="com.nanotech.DiscoverBangladesh.Division.ChittagongDivisionActivity" />
        <activity android:name="com.nanotech.DiscoverBangladesh.Hotel.HotelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nanotech.DiscoverBangladesh.Tourist.TouristActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.nanotech.DiscoverBangladesh.Hospital.HospitalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nanotech.DiscoverBangladesh.District.DistrictActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nanotech.DiscoverBangladesh.ShowDistrict.ShowDistrictActivity"
            android:screenOrientation="portrait"></activity>

        <service
            android:name="com.nanotech.DiscoverBangladesh.SoundService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>