<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asif047.efglogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dbangladesh_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dbangladesh_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Splash_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Division.DhakaDivisionActivity" />
        <activity android:name=".Division.RangpurDivisionActivity" />
        <activity android:name=".Division.RajshahiDivisionActivity" />
        <activity android:name=".Division.SylhetDivisionActivity" />
        <activity android:name=".Division.KhulnaDivisionActivity" />
        <activity android:name=".Division.BarishalDivisionActivity" />
        <activity android:name=".Division.ChittagongDivisionActivity" />
        <activity android:name=".Hotel.HotelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Tourist.TouristActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Hospital.HospitalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".District.DistrictActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ShowDistrict.ShowDistrictActivity"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".SoundService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>